QT/MainMenu/build-MainMenu-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/MainMenu/MainMenu/MainMenu.pro.user.22d566c
QT/MainMenu/Makefile
QT/MainMenu/Makefile.Debug
QT/MainMenu/Makefile.Release
QT/MainMenu/debug/main.o
QT/MainMenu/debug/qrc_qml.cpp
QT/MainMenu/debug/qrc_qml.o
QT/ObjectInALoopTest/build-ObjectInALoopTest-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/Animations/StatesAndTransitions/build-StatesAndTransitions-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/Animations/Animations/build-Animations-Desktop_Qt_5_5_1_MinGW_32bit-Debug/Makefile
QT/Animations/Animations/build-Animations-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/TcpServerClient/build-TcpServerClient-Desktop_Qt_5_5_1_MinGW_32bit-Release/
QT/ObjectTest/build-untitled-Desktop_Qt_5_5_1_MinGW_32bit-Debug/Makefile
QT/ObjectTest/build-untitled-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/Weather/build-WeatherTest-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/Weather/build-WeatherTest-Desktop_Qt_5_5_1_MinGW_32bit-Profile/
QT/TcpServerClient/build-TcpServerClient-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/
QT/TcpServerClient/build-TcpServerClient-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/TcpServerClient/build-TcpServerClient-Desktop_Qt_5_4_2_MinGW_32bit2-Release/
QT/TcpServerClient/build-TcpServerClient-Desktop_Qt_5_5_1_MinGW_32bit-Release/
QT/Weather/build-WeatherTest-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/TcpServerClient/TcpServerClient/TcpServerClient.pro.user.22d566c
QT/Weather/build-WeatherTest-Desktop_Qt_5_5_1_MinGW_32bit-Release/
QT/Weather/WeatherTest/Backend/WeatherCom/Search/searchlist.cpp.autosave
QT/ObjectTest/build-untitled-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/Weather/build-WeatherTest-Desktop_Qt_5_5_1_MinGW_32bit-Profile/
QT/QMLinWidget/build-untitled-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
QT/QtQuick/build-untitled-Desktop_Qt_5_5_1_MinGW_32bit-Debug/

AVR/
QT/Terminal/Build/
